{{#*inline "page"}}
    <h1>Lecture {{{ lec_id }}} admin</h1>

    <h2>Current questions</h2>
    <ul>
      {{#each questions}}
      <li>{{{ this.id }}}: {{{ this.prompt }}} &ndash; <a href="/admin/lec/{{{ ../lec_id }}}/{{{ this.id }}}">edit</a>
      {{/each}}
    </ul>

    <h2>Add question</h2>
    <form action="/admin/lec/{{{ lec_id }}}" method="post" accept-charset="utf-8">
      <p>
        <label>Question ID: <input name="q_id" />
        </label>
      </p>

      <p>
        <label>Question prompt:<br />
        <textarea name="q_prompt" rows="10" cols="80">Ask something here.</textarea>
        </label>
      </p>

      <input type="submit" value="Add question">
    </form>
{{/inline}}
{{~> (parent)~}}
