{{#*inline "page"}}
    <h1>Lecture {{{ lec_id }}} answers:</h1>

    <table>
      <tr>
        <th>User</th>
        <th>ID</th>
        <th>Answer</th>
        <th>Submission time</th>
      </tr>
      {{#each answers}}
      <tr>
        <td>{{{ this.user }}}</td>
        <td>{{{ this.id }}}</td>
        <td>{{{ this.answer }}}</td>
        <td>{{{ this.time }}}</td>
      </tr>
      {{/each}}
    </table>
{{/inline}}
{{~> layout~}}
