{{#*inline "page"}}
    <h1>Lecture {{{ lec_id }}} answers:</h1>

    <table class="table table-bordered table-sm">
      <thead class="thead-light">
        <th scope="col">User</th>
        <th scope="col">ID</th>
        <th scope="col">Answer</th>
        <th scope="col">Submission time</th>
      </thead>
      {{#each answers}}
      <tr>
        <td>{{{ this.user }}}</td>
        <td>{{{ this.id }}}</td>
        <td>{{{ this.answer }}}</td>
        <td>{{{ this.time }}}</td>
      </tr>
      {{/each}}
    </table>
{{/inline}}
{{> layout}}
