{{#*inline "page"}}
    <h2>Meeting {{{ lec_id }}}</h2>

    <form action="/questions/{{{ lec_id }}}" method="post" accept-charset="utf-8">
      {{#each questions}}
      <p>
        <label><b>Question {{{ this.id }}}:</b> {{{ this.prompt }}}<br />
        <textarea name="answers.{{{ this.id }}}" rows="10" cols="80"
         {{#if this.answer}}
         {{else}} placeholder="Write something here."
         {{/if}}>{{{ this.answer }}}</textarea>
        </label>
      </p>
      {{/each}}

      <p><input type="submit" class="btn btn-primary" value="Submit" /></p>
    </form>
{{/inline}}
{{> layout}}
